@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

.katex-display {
  overflow: auto hidden;
}

.content-header-link {
  opacity: 0;
  margin-left: -24px;
  padding-right: 4px;
}

.content-header:hover .content-header-link,
.content-header-link:hover {
  opacity: 1;
}

.linkicon {
  display: inline-block;
  vertical-align: middle;
}

.hidden.h-6.text-2xl.font-semibold.sm\:block {
  color: #178C7E;
}

.text-primary-500 {
  --tw-text-opacity: 1;
  color: #178C7E;

}
.bg-primary-500 {
  --tw-bg-opacity: 1;
  background-color: #178C7E;
}

.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: #178C7E;
  text-decoration: underline;
  font-weight: 500;
}
.hover\:text-primary-600:hover {
  --tw-text-opacity: 1;
  color: #0e5a51;
}

.hidden.h-6.text-2xl.font-semibold.sm\:block{
  font-size: 2.5rem;
  position: absolute;
}

.hover\:text-primary-600:hover {
  --tw-text-opacity: 1;
  color: #0d4d45 !important;
}

.hover\:text-primary-500:hover {
  --tw-text-opacity: 1;
  color: #0d4d45 !important;
}
p.mt-8.text-center.text-lg.text-gray-500.dark\:text-gray-400.font-light.tracking-widest.uppercase {
  padding-bottom: 25px;
}

.hover\:bg-primary-700:hover {
  --tw-bg-opacity: 1;
  background-color: #0e5a51 !important;
}